@tailwind base;
@tailwind components;
@tailwind utilities;

.logos-slide {
  animation: 40s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0f172a);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0f172a);
}

.bg-radial-gradient {
  background: radial-gradient(
    circle at center,
    #8b5cf6,
    #a24cf3 1%,
    #0f172a 40%
  );
}

@keyframes arrow-move {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.animate-arrow-move {
  animation: arrow-move 8s linear infinite;
}

.bending-line {
  position: relative;
  height: 40px;
  background-color: #929292;
  margin-top: -4px;
  clip-path: polygon(15.9% 45.25%, 82.64% 45.25%, 65.25% 52.3%, 34.03% 52.3%);
}